@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap");

html {
  font-family: "Lexend", sans-serif;
  color: white;
  align-content: center;
}

.container {
  /* background: linear-gradient(
    rgba(255, 255, 255, 40%),
    rgba(255, 255, 255, 10%)
  ); */
}

.text-center {
  text-align: center;
}
